<h1 id="title">{{.PageTitle}}</h1>
<style>
.done {
    color : green;
}
</style>
<ul>
    {{range .Todos}}
        {{if .Done}}
            <li class="done">{{.Title}}</li>
        {{else}}
            <li>{{.Title}}</li>
        {{end}}
    {{end}}
</ul>
<input id="input" type="text" />
<button onclick="createWebsocketAndAddTask()">Add Task</button>
<pre id="output"></pre>

<p id="add_task"></p>

<script>
    function addTask() {
        try {
            socket.send(title.value + " " + input.value);
            input.value = "";
        } catch(err) {
            output.innerHTML = err.message;
        }
    }

    function createWebsocketAndAddTask() {
        var input = document.getElementById("input");
        var output = document.getElementById("output");
        var title = document.getElementById("title");
        var socket = new WebSocket("ws://localhost:80/addTask");

        socket.onopen = function() {
            output.innerHTML = "Connecting to db\n";
        };

        socket.onmessage = function() {
            output.innerHTML += "Saved in db\n";
        };

        setTimeout(function(){ 
                        output.innerHTML = "";
                    }, 3000);
        addTask()
    }
    //document.getElementById("add_task").innerHTML = "Add Task";
</script>