
<h1>No Accounts! No Logins! Just add your todos</h1>
<h1>Specify {title} of the todos list in url as http://{site}/{title}!</h1>
<br>
<h2 id="title">{{.PageTitle}}</h2>
<style>
.done {
    color : green;
}
</style>
<ul>
    {{range .Todos}}
        {{if .Done}}
            <h3><li class="done">{{.Todo}}</li></h3>
        {{else}}
            <h3><li>{{.Todo}}</li></h3>
        {{end}}
        <input type="radio" id="updateDone">
        <label>Check for done</label><br>
    {{end}}
</ul>
<input id="input" type="text" />
<button onclick='createWebsocketAndAddTask("addTask")'>Add Task</button>
<pre id="output"></pre>

<p id="add_task"></p>

<script>
    var input;
    var output;
    var title;
    var socket;
 
    function addTask() {
        try {
            socket.send(title.innerHTML + " " + input.value);
            input.value = "";
        } catch(err) {
            output.innerHTML = err.message;
        } finally {
            delete socket;
        }
    }

    function createWebsocketAndAddTask(operation) {
        input = document.getElementById("input");
        output = document.getElementById("output");
        title = document.getElementById("title");
        socket = new WebSocket("ws://localhost:80/" + operation);

        socket.onopen = function() {
            output.innerHTML = "Connected to server db\n";
            addTask();
        };

        socket.onmessage = function() {
            output.innerHTML += "Saved in server db\n";
        };
        
        setTimeout(function(){ 
                        output.innerHTML = "";
                        location.reload();
                    }, 3000);
     
    }
    //document.getElementById("add_task").innerHTML = "Add Task";
</script>