
<h1>No Accounts! No Logins! Just add your todos</h1>
<h1>Specify {title} of the todos' list in url as http://{site}/{title}!</h1>
<h1>{todo} item shouldn't have</h1>
<br>
<h2 id="title">{{.PageTitle}}</h2>
<style>
.done {
    color : green;
}
body {
    background-color:lightgreen;
}

</style>
<ul>
    {{range .Todos}}
        <div>
            {{if .Done}}
                <h3><li id="{{.Todo}}" class="done">{{.Todo}}</li></h3>
                <input type="radio" onchange='createWebsocketAndAddTask("deleteTaskDone", document.getElementById("{{.Todo}}"));'>
                <label>Check to delete</label><br>
            {{else}}
                <h3><li id="{{.Todo}}">{{.Todo}}</li></h3>
                <input type="radio" onchange='createWebsocketAndAddTask("updateTaskDone", document.getElementById("{{.Todo}}"));'>
                <label>Check for done</label><br>
            {{end}}
        </div>
    {{end}}
</ul>
<input id="input" type="text" />
<button onclick='createWebsocketAndAddTask("addTask", null)'>Add Todo</button>
<pre id="output"></pre>

<p id="add_task"></p>

<script>
    var input;
    var output;
    var title;
    var socket;
 
    function addTask() {
        try {
            socket.send(title.innerHTML + " " + input.value);
            input.value = "";
        } catch(err) {
            output.innerHTML = err.message;
        } finally {
            delete socket;
        }
    }

    function updateTaskDone(elem) {
        try {
            socket.send(title.innerHTML + " " + elem.innerHTML + " " + "done");
            input.value = "";
        } catch(err) {
            output.innerHTML = err.message;
        } finally {
            delete socket;
        }
    }

    function deleteTaskDone(elem) {
        try {
            socket.send(title.innerHTML + " " + elem.innerHTML + " " + "delete");
            input.value = "";
        } catch(err) {
            output.innerHTML = err.message;
        } finally {
            delete socket;
        }
    }

    window.getFunctionFromString = function(string) {
        var scope = window;
        var scopeSplit = string.split('.');
        for (i = 0; i < scopeSplit.length - 1; i++)
        {
            scope = scope[scopeSplit[i]];

            if (scope == undefined) return;
        }

        return scope[scopeSplit[scopeSplit.length - 1]];
    }

    function createWebsocketAndAddTask(operation, elem) {
        input = document.getElementById("input");
        output = document.getElementById("output");
        title = document.getElementById("title");
        socket = new WebSocket("ws://138.68.10.55:80/todo/" + operation);

        socket.onopen = function() {
            output.innerHTML = "Connected to server db\n";
            fn = window.getFunctionFromString(operation);
            if (elem != null) {
                fn(elem);
            } else {
                fn();
            }
        };

        socket.onmessage = function(e) {
            output.innerHTML += "Server: " + e.data + "\n";
        };
        
        setTimeout(function(){ 
                        output.innerHTML = "";
                        location.reload();
                    }, 2000);
     
    }
</script>